{% extends 'base.html' %}
{% load static %}
{% block title %}
	Enfermedades
{% endblock %}
{% block body %}
    <br>
    <div class="d-flex justify-content-center justify-content-between">
        <h2>Enfermedades</h2>
        <a class="btn btn-success pb-0" href="{% url 'enfermedadCreate' %}"><img src="{% static 'icon/plus-lg.svg' %}" alt="plus-icon"></a>
    </div>
    <br>
    <table class="table table-bordered table-responsive">
        <thead class="table-info">
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for enfermedad in page_obj %}
            	<tr>
                    <td>{{enfermedad.nombre}}</td>
                    <td>
                        <a class="btn btn-info pb-2" href="{% url 'enfermedadUpdate' enfermedad.id %}">
                            <img src="{% static 'icon/pencil-fill.svg' %}" alt="pencil-icon">
                        </a>
                        <form action="{% url 'enfermedadDelete' enfermedad.id %}" method="post" class="delete-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger pb-2"
                               onclick="return confirm('¿Estas seguro de eliminar esta enfermedad?')">
                                <img src="{% static 'icon/trash3-fill.svg' %}" alt="trash-icon">
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
            <!-- Botón anterior -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="visually-hidden">Anterior</span>
                    </a>
                </li>
            {% endif %}
            <!-- Números de página -->
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link bg-info border-info text-black">{{ num }}</span>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- Botón siguiente -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden">Siguiente</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
