<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="400" height="338.667" viewBox="0 0 300 254"
     data-diente-id="{{ diente_id }}" data-diente-numero="{{ diente_numero }}">
    <g transform="matrix(2 0 0 2 50 27)" stroke="#000">
        <circle cx="50" cy="50" r="48" fill="#fff"/>

        <path class="tooth-face mesial" d="M50 50 16.1 16.1a48 48 0 0 1 67.8 0Z" fill="#fff" stroke-width=".5"/>
        <path class="tooth-face vestibular" d="m50 50 33.9-33.9a48 48 0 0 1 0 67.8Z" fill="#fff" stroke-width=".5"/>
        <path class="tooth-face distal" d="m50 50 33.9 33.9a48 48 0 0 1-67.8 0Z" fill="#fff" stroke-width=".5"/>
        <path class="tooth-face lingual" d="M50 50 16.1 83.9a48 48 0 0 1 0-67.8Z" fill="#fff" stroke-width=".5"/>

        <path d="m16.1 16.1 67.8 67.8m0-67.8L16.1 83.9"/>

        <circle class="tooth-face oclusal" cx="50" cy="50" r="20" fill="#fff" stroke-width=".5"/>
    </g>
</svg>